@import '../../styles/import.scss';

.builder {
  position: absolute;
  padding-top: $header-height;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .builder_content {
    position: absolute;
    left: $sidebar-abs-width + 2;
    top: $header-height;
    bottom: $bottom-bar-height + 2px;
    right: 0;
  }

  .preview_dialog {
    width: fit-content;
  }

}

.builder_alert {
  z-index: 4;
}
