@import '../../styles/import.scss';

.editor_slider_wrapper {

  //Override css
  .rangeslider-horizontal {
    height: 8px;
  }

  .rangeslider-horizontal .rangeslider__handle:after {
    display: none;
  }
}

.editor_slider {
  width: 200px;
  display: inline-flex;
}

.editor_slider_input {
  width: 50px;
  margin-left: 12px;
  margin-top: 6px;
  vertical-align: top;
}

.editor_slider_wrapper .rangeslider-horizontal {
  width: 170px;
  display: inline-block;
}
