@import "../../styles/import.scss";

.dnr_object {

  &--active {
    outline: 3px solid $app-orange;
  }

  .react-reveal {
    width: 100%;
    height: 100%;
  }
}

.public-DraftEditorPlaceholder-inner {
  color: $app-grey;
}

.DraftEditor-root {
  padding: 8px;
}

.canvas_text {
  padding: 8px;
}

.canvas_image {
  height: 100%;
  width: 100%;
}
