/* Slide Left */
@keyframes slideInLeft {
  from {
    transform: translate3d(-15%, 0, 0);
  }

  to {
    transform: none;
  }
}
@keyframes slideOutLeft {
  from {
    transform: none;
  }

  to {
    transform: translate3d(-15%, 0, 0);
  }
}

.slideLeft-enter {
  animation-name: slideInLeft;
  animation-duration: 400ms;
}

.slideLeft-enter.slideLeft-enter-active {
  animation-name: slideInLeft;
  animation-duration: 400ms;
}

.slideLeft-exit {
  animation-name: slideOutLeft;
  animation-duration: 400ms;
}

.slideLeft-exit.slideLeft-exit-active {
  position: absolute;
  animation-name: slideOutLeft;
  animation-duration: 400ms;
}

/* Fade Left */
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-50%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(-50%, 0, 0);
  }
}

.fadeLeft-enter {
  animation-name: fadeInLeft;
  animation-duration: 400ms;
}

.fadeLeft-enter.fadeLeft-enter-active {
  animation-name: fadeInLeft;
  animation-duration: 400ms;
}

.fadeLeft-exit {
  animation-name: fadeOutLeft;
  animation-duration: 400ms;
}

.fadeLeft-exit.fadeLeft-exit-active {
  position: absolute;
  animation-name: fadeOutLeft;
  animation-duration: 400ms;
}
