@import './import';

html, body, #root, .routes, .app {
    margin: 0;
    height: 100%;
}

.main-content {
  margin: 0 0 0 $sidebar-abs-width;
}

.lang_switcher {
  position: absolute;
  bottom: 0;
  right: 0;
}

.builder {
  position: absolute;
  padding-top: $header-height;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .builder_content {
    margin-left: $sidebar-abs-width;
    height: 100%;
  }
}

