@import './import';
/* Fonts for WYSIWYG editor */
@import url('https://fonts.googleapis.com/css?family=Alegreya|Alegreya+Sans|Merriweather|Merriweather+Sans|Nunito|Nunito+Sans|Quattrocento|Quattrocento+Sans|Roboto|Roboto+Mono|Roboto+Slab');

html, body, #root, .routes, .app {
    margin: 0;
    height: 100%;
}

.main-content {
  margin: 0 0 0 $sidebar-abs-width;
}

.lang_switcher {
  position: absolute;
  bottom: 0;
  right: 0;
}

