@import '../../styles/import.scss';

.control_group {

  &:last-child {
    margin-bottom: 4px;
  }

  margin-bottom: 8px;
  display: block;
  border-right: 1px solid lightgrey;
}

.control {
  padding: 8px 8px 0px 8px;
  display: inline-block;
  border: 1px solid lightgrey;

  &:last-child {
    border-right: none;
  }

  &--active {
    background-color: lightgrey;
  }
}

.link_item {
  margin-bottom: 12px;
}

.control_icon {
  width: 16px;
}
