@import '../../styles/import.scss';

.control_group {

  &:last-child {
    margin-bottom: 4px;
  }

  margin-bottom: 8px;
  display: block;
}

.control {
  padding: 8px 8px 0px 8px;
  display: inline-block;
  border: 1px solid lightgrey;

  &--active {
    background-color: lightgrey;
  }
}

.link_item {
  margin-bottom: 12px;
}

.control_icon {
  width: 16px;
}

.control_tooltip {
  display: inline-block;
}

.editor_link, .control_group {
  display: inline-block;
  margin-right: 12px;
}

.editor_slider_wrapper {

  //Override css
  .rangeslider-horizontal {
    height: 8px;
  }

  .rangeslider-horizontal .rangeslider__handle:after {
    display: none;
  }
}

.editor_slider {
  width: 200px;
  display: inline-flex;
}

.editor_slider_input {
  width: 50px;
  margin-left: 12px;
  margin-top: 6px;
  vertical-align: top;
}

.editor_slider_wrapper .rangeslider-horizontal {
  width: 170px;
  display: inline-block;
}
