$app-color: #F44336;
$app-blue: #2196F3;
$app-cyan: #00BCD4;
$app-indigo: #3F51B5;
$app-indigo-100: #C5CAE9;
$app-indigo-900: #1A237E;
$app-bluegrey: #607D8B;
$app-bluegrey-100: #CFD8DC;
$app-bluegrey-900: #263238;
$app-grey: #9E9E9E;
$app-grey-100: #F5F5F5;
$app-grey-900: #212121;
$app-teal: #009688;
$app-teal-100: #B2DFDB;
$app-teal-900: #004D40;
$app-orange: #FF9800;
$app-orange-100: #FFE0B2;
$app-orange-900: #E65100;


// dimensions
$standard-padding: 16px;

$header-height: 60px;
$sidebar-abs-width: 60px;
$sidebar-width: $sidebar-abs-width - (2 * $standard-padding);

// Builder components
$bottom-bar-height: 120px;
