$app-color: red;
$app-blue: blue;
$app-orange: orange;
$app-cyan: cyan;


// dimensions
$standard-padding: 16px;

$header-height: 60px;
$sidebar-abs-width: 60px;
$sidebar-width: $sidebar-abs-width - (2 * $standard-padding);

// Builder components
$bottom-bar-height: 120px;
