@import '../../../styles/import.scss';

.canvas_wrapper {
  overflow: scroll;
  margin-left: 60px;
}

.canvas {

  position: relative;

  &--desktop {
    height: 600px;
    width: 960px;
    background: white;
    border: 1px solid grey;
  }

  // &--mobile {

  // }

  &_image {
    width: 100%;
  }
}
