@import '../../../styles/import.scss';

.editor {
  z-index: 6;
  padding: 12px 8px;
  background-color: $app-grey-100;
  border: 1px solid $app-grey;
  border-radius: 2px;
  max-width: 240px;
}

.button_group {

  &:last-child {
    margin-bottom: 4px;
  }

  margin-bottom: 8px;
  display: block;
}

.button_icon {
  padding: 8px;
}

.link_item {
  margin-bottom: 12px;
}
