@import '../../../styles/import.scss';

.switches {
  display: table;
  margin: auto;
}

.switch_text {
  padding: 4px 8px;
  margin: 36px 4px 12px 4px;
  border: 1px solid orange;
  border-radius: 2px;
  display: inline-block;

  &--active {
    background-color: lightsalmon;
  }
}
