@import '../../../styles/import.scss';

.switches {
  display: table;
  margin: auto;
  position: relative;
  z-index: 5;
}

.switch_text {
  padding: 4px 8px;
  margin: 36px 4px 12px 4px;
  border: 1px solid $app-orange;
  border-radius: 2px;
  display: inline-block;

  &--active {
    background-color: $app-orange;
  }
}
