@import '../../../styles/import.scss';

.sidetools {
  position: fixed !important;
  top: 60px !important;
  width: 60px !important;
  background: white;
  z-index: 3;

  &_item {
    border: 1px solid grey;
    padding: 16px;

    &:hover {
      background: lightgrey;
    }
  }

  &_icon {
    color: white;
    font-size: 32px;
    display: block;
    margin: auto;
    width: 100%;
  }
}
