@import '../../../styles/import.scss';

.sidetools {
  position: fixed !important;
  top: 60px !important;
  width: 60px !important;
  background: $app-grey-900;
  z-index: 3;

  &_item {
    border-bottom: 2px solid white;
  }

  &_icon {
    color: white;
    font-size: 32px;
    display: block;
    margin: auto;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
