@import '../../../styles/import.scss';

.text_editor {
  z-index: 6;
}

.text_editor_inner {
  padding: 12px 8px;
  background-color: $app-grey-100;
  border: 1px solid $app-grey;
  border-radius: 2px;
  margin: 4px;
}

.button_group {

  &:last-child {
    margin-bottom: 4px;
  }

  margin-bottom: 8px;
  display: block;
}

.button_icon {
  padding: 8px;
}
